<template name="SideNav">
	<nav class="side-nav">
		<ul>
			<li>
				<a href="/add-class">
					<i class="fa fa-list"></i>
				 Add a Class</a>
			</li>
			<li>
				<a href="/current-classes">
					<i class="fa fa-map-o"></i>
				 View Current Classes</a>
			</li>
			<li>
				<a href="/listed-classes">
					<i class="fa fa-shopping-cart"></i>
				 View Listed Classes</a>
			</li>
			<li>
				<a href="/open-classes">
					<i class="fa fa-shopping-cart"></i>
				 View Substitutes</a>
			</li>
		</ul>
	</nav>
</template>